.slider-container {
  width: 100vw;
  height: 500px;
  overflow: hidden;
  position: relative;
  background: #000;
}
.slider-container .slider-row {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 500px;
}
.slider-container .slider-row .slide {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  float: left;
  width: 100vw;
  height: 500px;
  overflow: hidden;
}
.slider-container .nav-dots {
  position: absolute;
  bottom: 10px;
  width: 100vw;
  text-align: center;
}
.slider-container .nav-dots > a {
  display: inline-block;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background: rgba(0, 0, 0, 0.7);
  margin-right: 5px;
  cursor: pointer;
}
.slider-container .nav-dots > a.active {
  background: #fff;
}
.slider-container .nav-dots > a:last-child {
  margin-right: 0;
}
.slider-container .arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.slider-container .arrow:hover {
  background: rgba(0, 0, 0, 0.1);
}
.slider-container .arrow > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}
.slider-container .arrow.left {
  left: 0;
}
.slider-container .arrow.right {
  right: 0;
}
